{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'plugin_layouts/layouts/CorporateOffice.html'}}


2º Automatización y Robótica Industrial.

<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title></title>
	</head>
	<body>
		<div class="amigo" id="mejor_amigo"><p>Batman</p></div>
		<div class="amigo"><p>El hombre araña</p></div>
		<div class="amigo"><p>Capitán América</p></div>
		<div class="amigo"><p>Superman</p></div>
		<div class="amigo"><p>Linterna verde</p></div>
		<div class="familia"><p>Mamá</p></div>
		<div class="familia"><p>Papá</p></div>
		<div class="familia"><p>Hermano</p></div>
		<div class="familia"><p>Hermana</p></div>
		<div class="familia"><p>Pichichus</p></div>
		<div class="enemigo"><p>Gatúbela</p></div>
		<div class="enemigo"><p>El Pingüino</p></div>
		<div class="enemigo"><p>Hiedra venenosa</p></div>
		<div class="enemigo"><p>El acertijo</p></div>
		<div class="enemigo" id="archienemigo"><p>El Guazón</p></div>
	</body>
</html>