{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'plugin_layouts/layouts/CorporateOffice.html'}}


2º Automatización y Robótica Industrial.

<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title></title>
	</head>
	<body> 
		<table>
			<thead>
				<th colspan="3">Horario de ari</th>
			</thead>
			<tbody>
				<tr>
					<td><strong>Lunes</strong></td>
					<td><strong>Martes</strong></td>
					<td><strong>Miercoles</strong></td>
					<td><strong>Jueves</strong></td>
					<td><strong>Viernes</strong></td>
				</tr>
				<tr>
					<td>Empresa e Iniciativa Emprendedora</td> 
                    <td>Robótica Industrial</td>         
                    <td>Comunicaciones Industriales</td>    
                    <td>Integraciones de Sistemas</td>       
                    <td>Comunicaciones Industriales</td>
				</tr>
				<tr>
					<td>Empresa e Iniciativa Emprendedora</td>
                    <td>Robótica Industrial</td>
                    <td>Comunicaciones Industriales</td>
                    <td>Integraciones de Sistemas</td>
                    <td>Comunicaciones Industriales</td>
				</tr>
				<tr>
                    <td>Integraciones de Sistemas</td>                    
                    <td>Comunicaciones Industriales</td>                  
                    <td>Integraciones de Sistemas</td>                   
                    <td>Comunicaciones Industriales</td>                    
                    <td>Sistemas Programables Avanzados</td>
                </tr>
                
                <tr>
                    <td>Integraciones de Sistemas</td>
                    <td>Empresa e Iniciativa Emprendedora</td>
                    <td>Sistemas Programables Avanzados</td>
                    <td>Robótica Industrial</td>
                    <td>Robótica Industrial</td>
                </tr>
                <tr>
                    <td>Integraciones de Sistemas</td>
                    <td>Ingles</td>
                    <td>Sistemas Programables Avanzados</td>
                    <td>Ingles</td>
                    <td>Robótica Industrial</td>
                </tr>
			</tbody>
		</table>
	</body>
</html> 